.messenger {
    height: calc(100vh - 70px);
    display: flex;
}

.chat__menu {
    flex: 3.5;
}

.chat__menu-input {
    width: 90%;
    padding: 10px 0;
    border: none;
    border-bottom: 1px solid gray;
}

.chat__box {
    flex: 5.5;
}

.chat__box-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
}

.chat__box-top {
    height: 100%;
    overflow-y: scroll;
    padding-right: 10px;
}

.chat__box-bottom {
    margin-top: 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.chat__message-input {
    width: 80%;
    height: 90px;
    padding: 10px;
}

.chat__submit-button {
    width: 100px;
    height: 50px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background-color: teal;
    ;
    color: white;
}

.chat__online {
    flex: 3;
}

.chat__menu-wrapper,
.chat__box-wrapper,
.chat__online-wrapper {
    padding: 10px;
    height: 100%;
}

.no__conversation-text {
    position: absolute;
    top: 10%;
    font-size: 50px;
    font-weight: 500;
    color: rgb(220, 220, 220);
    cursor: default;
}