.conversation {
    display: flex;
    align-items: center;
    padding: 10px;
    cursor: pointer;
    margin-top: 10px;
}

.conversation:hover {
    background-color: rgb(225,225,225);
}

.conversation__img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 20px;
}

.conversation__name {
    font-weight: 500;
}